.low_text{
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
}

.row_with_item_equal{
    display: grid;
    grid-template-columns: auto max-content;
    height: max-content;
    align-items: center;
}

.row_with_item_wide{
    display: grid;
    grid-template-columns: min-content max-content;
    height: max-content;
    align-items: center;
}

.textareaHeight{
    height: auto;
    resize: vertical;
    width: 100%;
}

.inputText{
    width: 100%;
}