.low_table_text{
    list-style: none;
    font-size: 0.875rem;
}

.middle{
    height: auto;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

.border{
    border: 1px solid darkgray;
}

.scroll_field{
    list-style: none;
    width:min-content;
    display: block;
}