.low_table_text{
    list-style: none;
    font-size: 0.875rem;
}

.middle{
    height: auto;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

.scroll_field{
    list-style: none;
    width:min-content;
    display: block;
    margin-right: -3px;
}

.table_search_field{
    display: block;
    width: max-content;
    margin-right: -2rem;
    margin-bottom: 3px;
}

.table_search_wrap{
    width: max-content;
}

.plus_icon{
    height: 40px;
    width: 40px;
    margin-left: -6px;
    margin-top: -7px;
}

.plus_icon_wrap{
    height: 26px;
}

.minus_icon{
    height: 16px;
    width: 16px;
    align-self: center;
}

.minus_icon_wrap{
    height: 100%;
    align-items: center;
}
