.listWithSearch_input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border: 0;
  }
  
.listWithSearch_input:focus {
    outline: none;
}

.listWithSearch_selected{
    background-color: rgba(0, 0, 0, 0.08);
    text-emphasis-color: blue;
    transition: all .25s;
    opacity: 1;
}

.listWithSearch_unselected{
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.08);
    text-emphasis-color: black;
    transition: all .25s;
    opacity: 0;
}

.listWithSearch_unselected:hover{
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 1;
}