.shipment_code_block{
    display: block;
    height: 0px;
    width: fit-content;
    border: 1px solid darkgray;
    display: inline-table;
}

.advent_block{
    display: block;
    height: fit-content;
    width: fit-content;
    border: 1px solid darkgray;
    display: inline-table; 
}

.shipment_innards_block{
    display: block;
    height: 100%;
    width: fit-content;
    border: 1px solid darkgray;  
    display: inline-table;
}

.advent_block_outer{
    margin: 1rem;
    height: max-content; 
}

.pl{padding-left: 1rem;}
.pr{padding-right: 1rem;}

.advent_block_inner{
    list-style: none;
    height: fit-content;
}

.advent_header{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
}

.row_with_field{
    list-style: none;
    display: inline-block;
}

.low_text{
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
}

.mb{
    height: fit-content;
    width: auto;
    align-items: flex-end;
}

.border{
    border: 1px solid darkgray;
}

.plus_icon{
    height: 1rem;
    width: 1rem;
}

.bt_send{
    width: 5rem;
    height: fit-content;
    margin-bottom: 1rem;
    align-self: flex-end;
}

.place_holder{
    width: calc(100% - 5rem);
}

.input{
    width: 100%;
}

.row_with_item{
    display: grid;
    grid-template-columns: auto max-content;
    height: max-content;
}

.inline-block{
    display: inline-block;
}

.green{background-color: green}
.red{background-color: red}
.yellow{background-color: yellow}
.blue{background-color: blue}
.darkgray{
    list-style: none;
    background-color: rgba(228, 228, 228, 0.575);
}