.flexibleBlock_block{
    display: inline;
    height: fit-content;
    width: fit-content;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.flexibleBlock_block_wrap{
    border: 1px solid darkgray;
}

.placeholder{
    height: 0.5rem;
}

.pl{padding-left: 1rem;}
.pr{padding-right: 1rem;}
.pt{padding-top: 1rem;}
.pb{padding-bottom: 1rem;}