.block{
    height: fit-content;
    width: max-content;
    display: inline-table; 
}

.block_wrap{
    margin: 1rem;
    border: 1px solid darkgray;
}

.placeholder{
    height: 0.5rem;
}

.pl{padding-left: 1rem;}
.pr{padding-right: 1rem;}
.mt{margin-top: -5px;}

.green{background-color: green}
.red{background-color: red}
.yellow{background-color: yellow}
.blue{background-color: blue}
.darkgray{
    list-style: none;
    background-color: rgba(228, 228, 228, 0.575);
}