.header{
    list-style: none;
    width: 100%;
    height: 51px;
    background-color: white;
    font-size: 1.25rem;
}

.headTabs{
    width: calc(100% - 121px);
    display: inline-block;
}

.homePage{
    width: 70px;
    height: 50px;
    display: inline-block;
    background-color: white;
    border-bottom: 1px solid #ccc;
    align-items: center;
    border-right: 1px solid #ccc;
}

.homeIcon{
    width: 50px;
    height: 50px;
    margin-left: 9px;
    display: block;
}

.homePage:hover{
    background-color: rgba(228, 228, 228, 0.842);
}

.bold{font-weight: bold;}

.normal{font-weight: normal;}

.green{background-color: green}
.red{background-color: red}
.yellow{background-color: yellow}
.blue{background-color: blue}