.avatarHolder{
    width: max-content;
    height: 50px;
    background-color: white;
    display: inline-block;
    display: block;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    margin-top: -1px;
}

.avatarHolder:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdownMenu{
    position: fixed;
    right: -152px;
    top:50px;
    font-size: 20px;
    width: 150px;
    transition: all .22s ease-in;
    background-color: white;
    border: 1px solid darkgray;
}

.dropdownMenu.open{
    right: 0px;
    border: 1px solid darkgray;
}

.menuItem{
    width: .100;
    height: fit-content;
    padding: 3px;
}

.menuItem:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
